#footer {
  background: $blue;
  font-family: $font-family-primary;
  color: $white;
  .dropdown.dropdown-lang {
    padding: 0;
    max-width: 13rem;
    > a {
      padding: 1rem 1.5rem 12px;
      display: block;
    }
    &.show > a {
      background: $grey-light;
    }
    &:before {
      content: none;
    }
  }
  .dropdown-menu {
    transform: none !important; //overide js styles
    bottom: 100%;
    top: auto !important; //overide js styles
  }
}
.footer {
  &-links {
    padding-top: 1rem;
    .active {
      text-decoration: underline;
    }
    > li {
      display: inline-block;
      margin-right: 3.9rem;
    }
  }
  &-qr {
    max-width: 14rem;
  }
  &-social {
    @extend .clearfix;
    margin-top: 2.9rem;
    &-link {
      @include round(3.5rem);
      background: $white;
    }
  }
  &-top {
    padding: 5rem 0;
  }
  &-bottom {
    padding: 1.7rem 0;
    background: $blue-dark;
    font-family: $font-family-primary;
    font-size: $font-size-xxs;
    .dropdown-lang {
      margin-left: 0;
    }
    .dropdown-toggle:hover {
      color: inherit;
    }
    .copyright {
      float: left;
      margin-right: 3rem;
    }
  }
}
@media #{$tablet} {
  .footer {
    &-links {
      > li {
        display: block;
        + li {
          margin-left: 0;
          margin-top: 1.5rem;
        }
      }
    }
  }
}
@media #{$mobile-small} {
  .footer {
    &-qr {
      margin-top: 2.5rem;
    }
    &-bottom {
      .copyright {
        float: none;
        margin-bottom: 2rem;
        margin-right: 0;
      }
      .dropdown {
        margin-top: 2rem;
        max-width: 150px;
        margin-left: -1.5rem;
      }
    }
  }
}
