.form {
  &-group {
    margin-bottom: 3rem;
    position: relative;
  }
  &-text {
    margin-bottom: 4rem;
    > a {
      color: $violet;
      text-decoration: underline;
    }
  }
}
.float-container {
  position: relative;

  &.active,
  &.error {
    label:not(.error) {
      transform: translate(0, 4px) scale(0.75);
    }
  }
}
.form-control {
  height: 6rem;
  // line-height: 6rem;
  background: $grey-light;
  padding: 2rem 1.5rem 0 4rem;
  font-size: $font-size-base;
  border-radius: 0;
  border: solid 1px $grey-light;
  &:focus {
    box-shadow: none;
    border-color: $grey-light;
  }
  &.error {
    border-color: $red;
  }
}
label {
  font-size: 16px;
  position: absolute;
  transform-origin: top left;
  transform: translate(0, 16px) scale(1);
  transition: all $transition-time $transition-timing-function;
  left: 4rem;
  color: $grey-light-2;
  margin: 0;
  &.required:before {
    content: "*";
    position: relative;
    top: -1px;
  }
  &.error {
    transform: none;
    left: auto;
    right: 0;
    color: $red;
    font-size: 1.2rem;
    line-height: 1.4;
  }
}
select + label.error {
  top: 100%;
}
.error + .ui-selectmenu-button,
.error + .ui-selectmenu-button.ui-button:hover {
  border: solid 1px $red;
}
select.form-control:not([size]):not([multiple]) {
  height: 6rem;
}
textarea.form-control {
  height: auto;
  line-height: 1.6;
}
form {
  margin-bottom: 0;
  .actions {
    margin-top: 1rem;
  }
}
.ui-selectmenu-button {
  @extend .form-control;
  padding-top: 0;
  padding-left: 4rem;
  color: $grey-light-2;
  font-family: inherit;
  line-height: 6rem;
  &.ui-button {
    width: 100%;
    &:hover,
    &:focus {
      border-color: #f8f8f8;
      // border-bottom-color: $white;
      color: $grey-light-2;
    }
    .ui-icon {
      background: none;
      border: solid 10px transparent;
      border-top-color: #6f6f6f;
      width: 0;
      height: 0;
      position: absolute;
      top: 50%;
      right: 2rem;
      margin-top: -5px;
    }
  }
  &:focus {
    background: $grey-light;
  }
}
.ui-selectmenu-menu {
  .ui-widget {
    font-family: inherit;
  }
  .ui-menu {
    border-radius: 0;
    border-top: 0;
    border-color: $grey-light-3;
    &-item-wrapper {
      height: 6rem;
      line-height: 6rem;
      padding-left: 4rem;
      background: $white;
    }
    .ui-state-active {
      margin: 0;
    }
  }
  .ui-widget-content .ui-state-active {
    background: $grey-light;
    border: none;
    color: $grey-light-2;
  }
}
.ui-button:hover {
  background: $white;
}
@media #{$mobile} {
  .ui-selectmenu-menu .ui-menu-item-wrapper {
    padding-left: 2rem;
  }
  .form-control {
    padding-left: 2rem;
  }
  .float-container {
    label {
      left: 2rem;
    }
  }
}
