html {
  font-size: 10px;
}
body {
  font-size: $font-size-base;
  font-family: $font-family-primary-light;
  color: $grey;
  line-height: 1.75;
  letter-spacing: 0.4px;
}
a {
  color: inherit;
  &:hover {
    color: $blue;
  }
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
#main {
  padding: 10rem 0 8rem;
}
@media #{$tablet} {
  #main {
    padding: 5.625rem 0 5rem;
  }
}
