//Colors
$white: #ffffff;
$blue: #517cb3;
$blue-dark: #386297;
$black: #333333;
$violet: #674f8a;
$grey: #666666;
$grey-light-2: #999999;
$grey-light-3: #f3f3f3;
$grey-light: #f8f8f8;
$green: #51b398;
$red: #ad0b0b;

//Font Family
$font-family-backup: Helvetica, Arial, san-serif;
$font-family-primary: Poppins, $font-family-backup;
$font-family-primary-light: Poppins Light, $font-family-backup;
$font-family-primary-medium: Poppins Medium, $font-family-backup;
$font-family-secondary: Qualion Bold, $font-family-backup;

//Fontsize
$font-size-base: 1.6rem;
$font-size-l: 3.4rem;
$font-size-m: 2.4rem;
$font-size-xxs: 1.2rem;

//Background
$background-base-url: "../img";

//transition
$transition-time: 0.2s;
$transition-timing-function: ease-in-out;

//Spacing
$caret-size: 0.4rem;
$dropdown-box-shadow-top: -1rem;
$dropdown-box-shadow-left: -1.5rem;
//z-index
$mobile-menu-zindex: 100;

// Breakpoint
// USAGE EXAMPLES:
//          @media #{$all} {}
//          @media #{$screen} {}
//          @media #{$print} {}
//          @media #{$mobile} {}
//          @media #{$tablet} {}
//          @media #{$moblet} {}
//          @media #{$desktop} {}

$xs-down: 559.98px;
$sm-down: 767.98px;
$md-down: 991.98px;
$lg-down: 1199.98px;
$xl-down: 1439.98px;

$all: "all";
$screen: "screen";
$print: "print";
$mobile-small: "screen and (max-width: #{$xs-down})"; // =< 560
$mobile: "screen and (max-width: #{$sm-down})"; // =< =767
$tablet: "screen and (max-width: #{$md-down})"; // =< 992
$desktop-small: "screen and (max-width: #{$lg-down})"; // =<1200
$desktop: "screen and (max-width: #{$xl-down})"; //=<1400
$desktop-xl: "screen and (min-width: 1441px)"; //1400<=
