.section {
  &-products {
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    > .section-title {
      margin-bottom: 6rem;
    }
    .slick {
      &-slider {
        padding-left: 7rem;
        padding-right: 7rem;
      }
      &-slide {
        height: auto;
      }
      &-prev {
        left: 3rem;
      }
      &-next {
        right: 3rem;
      }
      &-arrow:before {
        font-size: 3.4rem;
      }
    }
  }
}
.product {
  &-slider {
    background: $white;
    margin-bottom: 8rem;
    .section-title {
      font-size: 3rem;
      line-height: 1.33;
      text-transform: none;
    }
  }
}
@media #{$mobile} {
  .product-slider {
    margin-bottom: 4rem;
    .section-title {
      font-size: 2rem;
    }
  }
  .section {
    &-products {
      margin-bottom: 4rem;
      padding-bottom: 4rem;
    }
  }
}
