.carrer-page {
  #main {
    padding-bottom: 7rem;
  }
  section:nth-child(2n + 1) {
    background: $grey-light;
  }
}
.section {
  &-career {
    padding: 0 0 10rem;
    @include full-width-section;
  }
  &-mission {
    padding: 6rem 0 6rem;
    .subtitle {
      margin-bottom: 1.5rem;
    }
  }
  &-bright-career {
    padding: 10rem 0;
  }
  &-offer {
    padding: 6rem 0;
    .section-title {
      margin-bottom: 4rem;
    }
  }
}
.zh_CN .section-bright-career .text-mute {
  text-align: left;
  display: inline-block;
}
.mission-list {
  li {
    padding-left: 1.6rem;
    position: relative;
  }
  li:before {
    content: "•";
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
  }
  strong {
    font-size: 1.8rem;
  }
}
.mission-block {
  text-align: left;
  padding-right: 4.5rem;
  strong {
    color: $violet;
  }
  .mission-statement-text {
    font-size: 1.8rem;
  }
}
.join-us-title {
  letter-spacing: 0.85px;
}
@media #{$mobile} {
  .section {
    &-mission,
    &-bright-career,
    &-offer {
      padding: 4rem 0;
    }
    &-offer {
      .card + .card {
        margin-top: 3rem;
      }
    }
    &-career {
      padding-bottom: 4rem;
    }
  }
  .mission-text {
    margin-bottom: 3rem;
  }
  .carrer-page {
    #main {
      padding-bottom: 5rem;
    }
  }
  .mission-block {
    padding-right: 1.5rem;
  }
}
