.section {
  &-partnership {
    padding-bottom: 10rem;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    .en_UK & .article-text {
      font-size: 1.4rem;
    }
    .article-title {
      margin-bottom: 3.5rem;
    }
    .article-content {
      padding-top: 3.5rem;
      padding-bottom: 1.5rem;
    }
  }
  &-partnership-form {
    background: $grey-light;
    padding: 6rem 0;
    .section-title {
      margin-bottom: 4rem;
    }
    .form-control {
      background: $white;
    }
  }
  &-partners {
    padding: 7rem 0 8rem;
    .section-title {
      margin-top: 3rem;
    }
  }
}
@media #{$mobile} {
  .section {
    &-partnership-form {
      padding: 4rem 0;
    }
    &-partners {
      padding: 1rem 0 4rem;
      .section-title {
        margin-top: 3rem;
      }
    }
  }
}
